@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
header { 
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
a{
    text-decoration: none;
    text-align: right;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: space-between;
}
header ul li{
    justify-content: space-between;
    margin: 10px;
}
img {
    width: 150px;
}
    h1{
    font: size 30px; ;
    color: rgb(26, 88, 88);
    font-family: "Inconsolata", monospace;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
"wdth" 100;
}
p{
   font: size 30px; ;
   color: rgb(43, 65, 65); 
}
.presentacion {
    width: 70px;
    font-size: 30px;
    padding: 10px;
    display: flex;
    font-family: "Inconsolata", monospace;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
"wdth" 100;
}
.presentacion p{
width: 70%;
font-size: 30px;
padding: 10px;
font-family: "Inconsolata", monospace;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
"wdth" 100;
}

#nosotros{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nosotros iframe{
    padding: 20px;
    margin: 20px;
}

.contenedor{
    display: flex; 
    flex-direction:row;
    width: 100%;
    margin:10px 0px 10px 0px ;
    background-color: rgb(199, 191, 199)
}
.caja{  
    width: 100%;
    height: 100%;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caja p{
    font-size: 12px;
}